<div class="container-fluid">
  <div class="row-fluid">    
    <div class="span12">
      <h2>About Hemlock</h2>
    </div>
  </div>

  <div class="row-fluid">    
    <div class="span12">
      <h3 style="margin:0">What is the Hemlock Ecosystem?</h3>
      <ol>
        <li><strong><a href="http://lab41.github.io/Hemlock">Hemlock</a></strong> - a project exploring ways to create a common data access layer that eliminates the need to understand underlying data topologies but still preserving the requirements of each data source such as access control, performance, and formats.</li>
        <li><strong><a href="http://lab41.github.io/Hemlock-REST">Hemlock-Rest</a></strong> - hemlock's REST Server that provides the same functionality as the CLI.</li>
        <li><strong><a href="http://lab41.github.io/Hemlock-Frontend">Hemlock-Frontend</a></strong> - a basic Rails webpage that demonstrates how hemlock can enable applications.  The frontend uses hemlock and hemlock-rest to provide administrators with basic insight into users, roles, systems, and tenants; the frontend also uses elastic search to prototype a basic search application on top of the hemlock common data layer.</li>
      </ol>
    </div>
  </div>

  <div class="row-fluid">     
    <div class="span12">
      <%= image_tag "about/overview_hemlock.png" %>
    </div>  
  </div>
</div>
